.App {
  text-align: center;
}

.menuItem {
  color: white !important;
}

.menuGrid {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.formItem {
  text-align: center;
}

.loginStyle {
  margin:15;
}

.budgetForm {
  display: flex;
  flex-direction: column;
}

@media (min-width: 401px) {

  .menuGrid {
    margin: auto;
    align-items: center;
  }

  .btnDrawer {
    position: fixed;
    left: 10px;
  }
}

@media (max-width: 400px) {

  .menuGrid {
    display: flex;
    align-items: center;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
